* {
    box-sizing: border-box;
}

body{
    margin: 0px;
}

 /* INICIO MENU */

#container {
    height: 1000px;
    background-color: aqua;
}

.navbar {
    background-color: #107c10;
    display: grid;
    grid-template-columns: repeat(8, 1fr) 2fr;
    text-align: center;
    /* padding: 0px 40px; */
}

.item-navbar {
    padding: 10px;
    align-self: center;
    justify-self: center;
}

.subgrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.subgrid-item {
    align-self: center;
}

.subgrid-item:nth-child(1){
    justify-self: end;
}

/* FIM MENU */