* {
    box-sizing: border-box;
}

body{
    margin: 0px;
}

#container {
    height: 1000px;
    background-color: aqua;
}

.navbar {
    background-color: #107c10;
    display: grid;
    grid-template-columns: repeat(8, 1fr) 2fr;
}

.item-navbar {
    padding: 10px;
    align-self: center;
    justify-self: center;
}

.subgrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: right;
}

.subgrid-item {
    align-self: center;
}

.subgrid-item :nth-child(2){
    justify-self: end;
}