* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

 /* INICIO MENU */

#container {
    height: 2000px;
    background-color: aqua; 
}

.navbar {
    background-color: #107c10;
    background-color: black;
    display: grid;
    grid-template-columns: repeat(8, 1fr) 2fr;
    text-align: center;
    position: relative;
}

.item-navbar {
    padding: 10px;
    align-self: center;
    justify-self: center;
}

.subgrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.subgrid-item {
    align-self: center;
}

.subgrid-item:nth-child(1){
    justify-self: end;
}

/* FIM MENU */

/* INICIO BANNER */

#banner {
    background-image: url(../img/bannerforza5.png);
    position: relative;
    background-size: cover;
    width: 100%;
    height: 500px;
    background-color: brown;

    
    /* width: 300px;
    height: 300px;
    background-image: url(../img/bannerforza5.png);
    background-size: 300px 150px; */


    /* background-image: url(../img/bannerforza5.png); no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; */
    
}


